/* ===========================================================
	Tools - Breakpoints
=========================================================== */

@mixin respond-max( $breakpoint ) {
	$max-width: $breakpoint - em( 1px );

	@media screen and ( max-width: $max-width ) {
		@content;
	}
}

@mixin respond-min( $breakpoint ) {
	$min-width: $breakpoint;

	@media screen and ( min-width: $min-width ) {
		@content;
	}
}

@mixin respond-min-max( $breakpoint-min, $breakpoint-max ) {
	$min-width: $breakpoint-min;
	$max-width: $breakpoint-max - em( 1px );

	@media screen and ( min-width: $min-width ) and ( max-width: $max-width ) {
		@content;
	}
}

/*
	example usage:
	h1 {
		font-size: 2em;
		@include respond-min( $mq-sm ){
			font-size: 3em;
		}
	}
	@include respond-min-max( $mq-sm, $mq-md ){
		h1 { font-size: 3em; }
	}
 */

/**
 *	High resolution device media query
 *	http://davidtheclark.github.io/scut/#hd_breakpoint
 */
@mixin hi-res( $ratio: 2 ) {
    @media ( -o-min-device-pixel-ratio: #{$ratio}/1 ),
             ( -webkit-min-device-pixel-ratio: #{$ratio} ),
             ( min-resolution: #{round(96 * $ratio)}dpi ) {
        @content;
    }
}
