/* ===========================================================
	Tools - Utils
=========================================================== */

/**
 *  adds padding-top percentage of image to prevent page resizing when image loads
 */
@mixin pad-top($width, $height) {
	padding-top: ($height / $width) * 100%;
}


/**
 *  clear floats within container when overflow:hidden is undesirable
 */
@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

/**
 *  Hiding visually (keep accessibility)
 *  http://h5bp.com/v
 *  http://davidtheclark.github.io/scut/#hide_visually
 */
@mixin visually-hidden {
    border: 0;
    clip: rect( 0 0 0 0 );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin focus-outline( $color: inherit, $width: 2px ) {
    outline-color: $color;
    outline-width: $width;
    outline-width: rem( $width );
    outline-style: solid;
    outline-offset: $width;
    outline-offset: rem( $width );
}

@mixin anchor-underline( $body-background: $c-body-background, $underline-color: currentColor ) {
	background-image: linear-gradient( to right, $underline-color 0%, $underline-color 100% );
	background-position: bottom 0 center;
    background-repeat: repeat-x;
	background-size: 100% .05em;
    text-shadow: .05em 0 0 $body-background, -.05em 0 0 $body-background, 0 .05em 0 $body-background, 0 -.05em 0 $body-background, .1em 0 0 $body-background, -.1em 0 0 $body-background, 0 .1em 0 $body-background, 0 -.1em 0 $body-background;

    &:hover {
        background-image: none;
    }

    &:focus {
        background-image: none;
        text-shadow: none;
    }
}

@mixin background-icon( $icon, $content, $width: 1em, $height: 1em ) {
    background-image: url( $icon );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75% auto;
    // Text for screen readers
    content: $content;
    display: inline-block;
    height: $height;
    overflow: hidden;
    text-indent: $width;
    white-space: nowrap;
    width: $width;
}

/**
 *  convert pixels to em using a context
 *  example:
 *  font-size: em( 14px ); // 0.875em
 */
@function em( $pixels, $context: 16px ) {
	@if( unitless( $pixels ) ) {
		$pixels: $pixels * 1px;
	}

	@if( unitless( $context ) ) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1em;
}

/**
 *  convert pixels to rem
 *  example:
 *  font-size: rem( 14px ); // 0.875em
 */
@function rem( $pixels, $context: 16px ) {
	@if( unitless( $pixels ) ) {
		$pixels: $pixels * 1px;
	}

	@if( unitless( $context ) ) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}
