/* ===========================================================

	Components - Notify

=========================================================== */

.c-notify {
	border-bottom-width: 1px;
	border-bottom: .1rem solid $c-black;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.c-notify--browser {
	display: none;
}

.no-enhance.js {
	.c-notify--browser {
		display: block;
	}
}
