<!-- <script>
    ( function() {
        if( enhance ) {
            var mainScript = document.createElement('script');
            mainScript.src = '/js/main.js';
            document.body.appendChild( mainScript );
        }
    } )();
</script> -->

<script src="js/main.min.js"></script>

<div itemscope itemtype="http://schema.org/Organization">
    <link href="http://geckotree.co.uk" itemprop="url">
    <meta content="http://geckotree.co.uk/img/home-icon.png" itemprop="logo">
</div>
