/* ===========================================================

	Layout - Wrap

=========================================================== */

.l-wrap {
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;

	// Remove padding for nested l-wrap
	.l-wrap {
		padding-left: 0;
		padding-right: 0;
	}
}

.l-wrap--sm {
	max-width: $mq-sm;
}

.l-wrap--md {
	max-width: $mq-md;
}

.l-wrap--lg {
	max-width: $mq-lg;
}

.l-wrap--xl {
	max-width: $mq-xl;
}

@include respond-min-max( $mq-sm, $mq-md ) {
	.l-wrap {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@include respond-min( $mq-md ) {
	.l-wrap {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}
