/* ===========================================================

  # Hide

=========================================================== */

@include respond-max( $mq-small ) {

	.u-hide--sm {
		display: none !important;
	}

}

@include respond-min-max( $mq-small, $mq-medium ) {

	.u-hide--md {
		display: none !important;
	}

}

@include respond-min-max( $mq-medium, $mq-large ) {

	.u-hide--lg {
		display: none !important;
	}

}

@include respond-min-max( $mq-large, $mq-x-large ) {

	.u-hide--xl {
		display: none !important;
	}

}


@include respond-min( $mq-x-large ) {

	.u-hide--xxl {
		display: none !important;
	}

}
