/* ===========================================================

  # Utility - text

=========================================================== */

.u-visually-hidden {
	@include visually-hidden;
}

/*
.u-font-pri {
	font-family: $ff-pri-fallback;
}

.u-font-sec {
	font-family: $ff-sec-fallback;
}

.fonts-loaded {

	.u-font-pri {
		font-family: $ff-pri-webfont;
	}

	.u-font-sec {
		font-family: $ff-sec-webfont;
		letter-spacing: .5px;
	}

}
*/
