/* ===========================================================

	Base - Page

=========================================================== */

/**
 *	http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
 */
@-ms-viewport {
	width: device-width;
}

html {
	min-width: em( 300px );
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	// Check page contrast
	// -webkit-filter: grayscale( 100% );
	// filter: grayscale( 100% );
}

body {
	background: $c-body-background;
	color: $c-body-text;
}

::-moz-selection {
	background: $c-selection;
}

::selection {
	background: $c-selection;
}

* {
	box-sizing: border-box;
}


/**
 *	JS access to breakpoints, abstracted from: https://github.com/JoshBarr/js-media-queries
 */
html {
	font-family: 'xs';
}

@include respond-min( $mq-sm ) {
	html {
		font-family: 'sm';
	}
}

@include respond-min( $mq-md ) {
	html {
		font-family: 'md';
	}
}

@include respond-min( $mq-lg ) {
	html {
		font-family: 'lg';
	}
}

@include respond-min( $mq-xl ) {
	html {
		font-family: 'xl';
	}
}
