/* ===========================================================

	Base - Button

=========================================================== */

.b-btn {
    background: transparent;
    border: solid .2rem $c-black;
	color: $c-black;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
	padding: 1rem 2rem;
    transition: background $speed $ease,
                color $speed $ease,
                transform $speed $ease;

    &:hover {
		background: $c-black;
        color: $c-white;
    }

	&:focus {
		@include focus-outline();
	}

	&:active {
		transform: scale( .98 );
	}

	// Apply external link icon to external links
	&[ href^="http" ]:not( [ href*="#{$domainUrl}" ] ):after {
		@include background-icon( '#{$d-img}/icons/external.svg', '(external icon)' );
	}
}

.b-btn--skiplink {
	position: fixed;
	right: 100%; // Moves button off screen
	top: 1rem;

	&:focus {
		right: 1rem; // Moves button back on screen
	}
}
