/* ===========================================================

	Base - Fonts

=========================================================== */

// @font-face {
//     font-family: 'font-family';
//     src: url('#{$d-fonts}/font-family.woff2') format('woff2'),
//          url('#{$d-fonts}/font-family.woff') format('woff');
//     font-weight: $fw-normal;
//     font-style: normal;
// }
