/* ===========================================================

	Base - Link

=========================================================== */

a {
	color: $c-black;
	text-decoration: none;
	transition: background $speed $ease,
				color $speed $ease;

	&:link {
		-webkit-tap-highlight-color: $c-selection;
	}

	&:hover {
		color: $c-black;
	}
}

.no-enhance {
	a:not( [class] ) {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.enhance {
	a:not( [class] ) {
		@include anchor-underline;

		&:focus {
			background-color: $c-selection;
			outline: none;
		}

		// Apply external link icon to external links
		&[ href^="http" ]:not( [ href*="#{$domain-url}" ] ):after {
			@include background-icon( '#{$d-img}/icons/external.svg', '(external icon)' );
		}
	}
}
