/* ===========================================================

	Base - List

=========================================================== */

ul,
ol {
	padding: 0;
	list-style: none;
}

ul:not( [class] ),
ol:not( [class] ) {
	padding-left: 2rem;
}

ul:not( [class] ) {
	list-style: disc;
}

ol:not( [class] ) {
	list-style: decimal;
}
