/* ===========================================================
	Base - Text
=========================================================== */


html {
	font-size: $fs-body;
}

body {
	font-family: $ff-pri-fallback;
	font-feature-settings: 'liga', 'kern'; // http://elliotjaystocks.com/blog/kerning/
	font-kerning: normal;
	font-size: $fs-sm;
	font-weight: $fw-normal;
	line-height: 1.6;

	.fonts-loaded & {
		font-family: $ff-pri-webfont;
	}

	@include respond-min( $mq-sm ) {
		font-size: $fs-md;
	}

	@include respond-min( $mq-md ) {
		font-size: $fs-lg;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $c-heading-text;
	line-height: 1.25;
}

* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin: 1.5em 0 .75em 0;
}


p {
	margin: 0 0 1.5em 0;

	@include hi-res() {
		letter-spacing: .01em; // increase letter-spacing on high pixel density screens as they can appear too close
		word-spacing: .01em; // word-spacing same as letter-spacing for consistency
	}
}
