/* ===========================================================

	# Settings - Variables

=========================================================== */

$domain-url: 				'domainname.co.uk';

// Directories
$d-base: 					'/_src';
$d-fonts: 					'/fonts';
$d-img: 					'/img';

// Fonts
$ff-pri-fallback:			Arial, Geneva, sans-serif;
$ff-pri-webfont:			'Lato';

$ff-sec-fallback:			Georgia, serif;
$ff-sec-webfont:			'Playfair Display';

$fs-body: 					62.5%;
$fs-sm:						1.8rem;
$fs-md:						1.8rem;
$fs-lg:						2rem;
$fs-scale-sm: 				1.15;
$fs-scale-md: 				1.15;
$fs-scale-lg: 				1.15;

$fw-normal: 				400;
$fw-semibold: 				600;
$fw-bold:					800;

// Colors
$c-black: 					#000;
$c-white: 					#fff;

$c-selection: 				rgba( $c-black, 0.5 );
$c-body-background:			$c-white;
$c-heading-text: 			$c-black;
$c-body-text: 				$c-black;
$c-placeholder: 			$c-black;
$c-placerholder-form:		$c-black;
$c-disabled: 				$c-black;
$c-success: 				$c-black;
$c-error: 					$c-black;

// Layout
$l-wrap-sm: 				76rem;
$l-wrap-md: 				92rem;
$l-wrap-lg: 				108rem;
$l-wrap-xl:					128rem;

// Utils
$u-active-scale: 			scale( .95 );

// Transition
$speed: 					.3s;
$ease:						ease-out;

// Media Queries
$mq-sm: 					32em; // 512px
$mq-md: 					48em; // 768px
$mq-lg: 					64em; // 1024px
$mq-xl: 					80em; // 1280px
